.App {
  &.dark-theme {
    background-color: #333;
    color: #fff;
    width: 100%;
    min-height: 100vh;

    .card {
      background-color: #222;
      color: #fff;
    }

    .form-control {
      background-color: #555;
      color: #fff;
      &:focus {
        border: #eee;
        box-shadow: 0 0 0 0.1rem rgba(238, 238, 238, 0.7)
      }
      &::placeholder {
        color: #aaa;
      }
    }
    
  }
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
  }
}

#search-input {
  text-align: center;
  width: 600px;
  &::placeholder {
    text-align: center;
  }
}

#navigate-back-btn {
  position: fixed;
  top: 1rem;
  left: 1rem;
}
