.App {
  &.dark-theme {
    background-color: #333;
    color: #fff;
    width: 100%;
    min-height: 100vh;

    .card {
      background-color: #222;
      color: #fff;
    }

    .form-control, .mantine-Input-input {
      background-color: #555;
      color: #fff;
      border: 1px solid #acacac;
      &:focus {
        box-shadow: 0 0 0 0.1rem rgba(238, 238, 238, 0.7);
        border: 1px solid #eee;
        background-color: #333;
      }
      &::placeholder {
        color: #aaa;
      }
    }

    .table {
      color: #fff;
      background-color: inherit;
    }    
  }
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
  }
}

p {
  margin-bottom: 0.5rem;
}

#search-input {
  text-align: center;
  width: 600px;
  &::placeholder {
    text-align: center;
  }
}

#navigate-back-btn {
  position: fixed;
  top: 1rem;
  left: 1rem;
}

.link {
  cursor: pointer;
  user-select: none;
}


.input-copy-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.mantine-Input-input {
  height: 36px;
}